---
layout: default
title: Blog
---

<section class="section-alt">
  <div class="wrap">
    <h2 class="section-title">Latest Posts</h2>
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>
            {% if post.date %}
              {{ post.date | date: "%B %d, %Y" }}
            {% endif %}
            {% if post.categories %}
              • {{ post.categories | join: ", " }}
            {% endif %}
          </small>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
